body {
  min-height: 750px;

}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #000000 !important;
  border-color: rgb(71, 70, 70) ;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #FCA311 ;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgb(168, 168, 168);
}